@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
    max-width: 768px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .logo {
    width: 65px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1rem;
  }

  .hero {
    margin-top: 9.5rem;
  }

  .hero-title {
    font-size: 4.5rem;
    line-height: 7.625rem;
    letter-spacing: -3.84px;
  }

  .hero-description {
    font-size: 1rem;
    margin-top: 3rem;
  }

  .hero-buttons {
    flex-direction: row;
    margin-top: 4.5rem;
  }

  .who-we-are-section {
    height: 400px;
  }
  .who-we-are-overlay h2 {
    font-size: 3rem;
  }
  .info-text {
    font-size: 1rem;
  }




  .video-section {
    display: flex;
        width: 100%;
        padding: 2rem 1rem;
        max-width: 1200px;
        margin: 0 auto;
  }
  
  .video-container{
    display: flex
;
    width: 100%;
    /* margin-bottom: 2rem; */
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .vision-text {
      padding: 1rem 0;
          text-align: left;
        display: flex
    ;
        padding: 1rem 0;
        flex-direction: column;
    }
  .vision-text h3 {
    font-size: 1.5rem;
  }
  .vision-text p {
    font-size: 1rem;
  }
  .vision-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .amount-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .events-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-links {
    flex-direction: row;
    gap: 1.875rem;
  }

  .footer-bottom-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
